pandas
matplotlib
bayesian-optimization
# scikit-learn -> bayesian-optimization
# Excel read
openpyxl
xlrd      

# save model
joblib

# Etc
imageio
dotmap


# Jupyter
jupyter
jupyterlab

# conda install -c conda-forge lightgbm
lightgbm
# conda install -c conda-forge xgboost
xgboost


# Flask Web Service
Flask
Flask-RESTful
tornado
